<!-- Eman Abubakr
Personal Portofolio -->

<footer>
    <!-- Bottom Nav -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display navbar-text">&nbsp;&copy;&nbsp;Copyright Eman Abubakr - Student#: 301171599 - COMP229 - Assignment 2.</h6>
    </nav>
</footer>