

<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="/stylesheets/style.css"></script>
<script src="/@fortawesome/fontawesome-free/css/all.min.css"></script> -->
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>
</body>
</html>


