<!-- Eman Abubakr
Personal Portofolio -->

<!-- <script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/stylesheets/style.css"></script>
<script src="/@fortawesome/fontawesome-free/css/all.min.css"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>
</body>
</html> -->
<footer class="footer">
    <div class="container">
        <p class="text-center"> &copy;&nbsp;Copyright&nbsp;&nbsp; Eman Abubakr - Personal Portofolio</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>

