<% include partials/header.ejs %>

<!-- About me Page -->
  <h1><%= title %></h1>
  <h3>Welcome to my <%= title %> page!</h3><br>
  <h4> Hello,my name is <b>Eman Abubakr</b>. <br>
    I'm  student in Centennial college. I've enrolled in "Software Engineering Technology and Artificial Intelligence" program. 
    I used to be a pharmacist in my home country “Egypt”, but I decided to change my career when I immigrated to Canada. I live 
    in Quebec, so I can speak a little bit French, beside English and ,my mother language, Arabic. I'm a mother for two little kids 
    who are always supporting me. I see that the AI domain particularly and the SW engineering in general are the future in all aspects
     of life that's why I chose to study this domain. 

  </h4><br>
  <img src="/images/My photo1-2.jpeg">
  
  <% include partials/bottom_nav.ejs %>
  <% include partials/footer.ejs %>

