<!-- Eman Abubakr
Personal Portofolio -->

<!-- About me Page -->


<% include partials/header.ejs %> 

  <h1><%= title %></h1>
  
 <h4> •	Student of Software Engineering Technology Advanced Diploma, specializing in Artificial Intelligence (4th term)<br>  
      •	Strong interpersonal skills - able to effectively work in a team environment<br>
      •	Strong at prioritizing tasks and organizing my time to keep pace with competing priorities and deadlines<br>
      •	Strong communication skills both written and verbal; Languages: English – Arabic – French (Intermediate)<br>
      •	Bachelor of Pharmacy and Senior head of pharmacy department in Egypt<br>
      •	Passed the Canadian Evaluation of Pharmacy exam through (PEBC) in June 2019
     

  <h4>
  <% include partials/footer.ejs %> 
 
