<!-- Eman Abubakr
Personal Portofolio -->
<!-- cotact page -->



<% include partials/header.ejs %>

  <div>
    <h2>Eman Abubakr</h2>
    <img src= "/images/Eman's Photo.jpeg" class="img-thumbnail mx-auto d-block" width="250">
    
    <input type="button" style="margin-top:50px; margin-bottom: 15px;"
        onclick="location.href='https://github.com/Eman-Abubakr';" 
        value="Visit my Github" />

    

        <input type="button" style="margin-bottom: 15px;"
        onclick="location.href= ' https://www.linkedin.com/in/emanabubakr/';" 
        value="Visit my Linkedin" />

    <input type="button" style="margin-bottom: 15px;"
        onclick="location.href='mailto:eman.e.abubakr@gmail.com';" 
        value="Email Me" />

  </div>
  <% include partials/footer.ejs %>