
<!-- Eman Abubakr
Personal Portofolio -->
<!-- Home page -->


<% include partials/header.ejs %>

<h1>
  <b>Eman Abubakr</b>
</h1>
       
  
      
</div>
    <img src= "/images/Eman's Photo.jpeg" class="img-thumbnail mx-auto d-block" width="250"><br>
    <input type="button" onclick="location.href='/contact';" value="Contact me" />
    

  
  <% include partials/footer.ejs %>













