<!-- Eman Abubakr
Personal Portofolio -->

<!-- Projects page -->


<% include partials/header.ejs %>

  <h1><%= title %></h1>
  
<h4>
• <b>Web Application Development:</b> Collaborated to create a survey website using EJS and Angular as frontend and API as backend with securing and deploying the website with integrated authentication  <a href="https://petvey-webapp.herokuapp.com/"> Petvey-WebApp </a><br>
•	<b>Artificial Intelligence:</b>  Built a simple text classifier using the "Bag of Words" language model & the Naive Bayes classifier; model is used to filter spam comments with Naive Bayes using Python<br>
•	<b>Object Oriented Software Engineering: </b> Developed a SRS and SDD project for parking applications<br>
• <b>Software Requirements Specification: </b>	Collaborated in a team to create a SRS for an app that supports COVID-19 vaccine registration<br>
• <b> Web Interface: </b> worked on a project for a realtor using HTML5 and CSS3; This website is including listing, contact information, personal info about her and a sitemap

</h4>
 
  <% include partials/footer.ejs %>
