<!-- Eman Abubakr
Personal Portofolio -->

<!-- Services Page -->


<% include partials/header.ejs %>

  <h1><%= title %></h1>
  
<h4>
•	Knowledgeable of Java, Java Script, Node JS, Express JS, JSON, Express MVC, Angular.js, and Java FX, C#, HTML5, CSS3, Python<br>
•	Knowledge of Angular as frontend and API as backend<br>
•	Experience with Oracle and MongoDB, Oracle DB, SQL, NoSQL<br>
•	Experience in Testing, Quality assurance, and Debugging<br>
•	Foundational understanding of SDLC, Agile methodologies, machine learning and algorithms <br>
•	Familiar with software requirements analysis, high-level design, testing, and quality assurance
</h4>

  <% include partials/footer.ejs %>